.heading {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid white;
    border-top: 10px solid greenyellow;
    animation: loading 5s linear infinite;

}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

.nav1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1 span {
    width: 50px;
    height: 50px;
    background-color: orange;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    animation: dot 1.5s ease-in-out infinite;
    transition: 0.5s;
}

.nav1 span.dot1 {
    animation-delay: -0.3s;
}

.nav1 span.dot2 {
    animation-delay: -0.15s;
}

.nav1 span.dot3 {
    animation-delay: 0s;
}

@keyframes dot {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

/* thanh ngang */
.loading3 {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ldnav {
    width: 500px;
    height: 30px;
    border: 1px solid;
    TEXT-ALIGN: CENTER;
    padding: 10px 0;
    line-height: 2;
    font-weight: 600;
    position: relative;
    border: 1px solid oldlace;
}

.ldnav::before {
    content: '';
    width: 0px;
    background-color: black;
    height: 50px;
    position: absolute;
    top: 0.5px;
    left: 0.5px;
    animation: loadn 5s linear infinite;
}

@keyframes loadn {
    100% {
        width: 500px;
    }
}

.ldnav::after {
    content: 'please wait...';
    text-transform: uppercase;
    mix-blend-mode: difference;
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* làm smoke */
.smoke {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smoke1 {
    font-size: 50px;
    font-weight: 600;
}

.smoke1 span {
    margin: 0 5px;
    color: tomato;
    text-shadow: 8px -20px 5px #8b0040;
    animation: smokes 15s ease infinite;
    transition: 5s cubic-bezier(0.61, -0.08, 0.91, 0.37);
    display: inline-block
}

.smoke1 span.t1 {
    animation-delay: 1s;
}

.smoke1 span.t2 {
    animation-delay: 2s;
}

.smoke1 span.t3 {
    animation-delay: 3s;
}

.smoke1 span.t4 {
    animation-delay: 4s;
}

.smoke1 span.t5 {
    animation-delay: 5s;
}

.smoke1 span.t6 {
    animation-delay: 6s;
}

.smoke1 span.t7 {
    animation-delay: 7s;
}

.smoke1 span.t8 {
    animation-delay: 8s;
}

@keyframes smokes {
    0% {
        transform: translate(0, 0) scale(1, 1) rotate(0deg);
        filter: blur(0);
    }

    20% {
        filter: blur(5px);
        text-shadow: 5px 10px;
    }

    40% {
        filter: blur(35px);
        text-shadow: 15px 20px;
    }

    60% {
        filter: blur(55px);
        text-shadow: 25px 30px;
    }

    80% {
        filter: blur(75px);
        text-shadow: 35px 40px;
    }

    100% {
        transform: translate(-75px, -300px) scale(2, 4) rotate(360deg);
        filter: blur(100px);
        text-shadow: 45px 50px;
    }
}

/* làm search dãn */
.search {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search1 {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: inherit;
    transition: 1s ease;
}

.search1 input {
    width: 0;
    transition: 1s ease;
    border: 0;
    font-size: 20px;
    outline: none;
    display: inline-block;
    background: none;
}

.search1 input:focus {
    border-bottom: 2px solid red;
}

.search1:hover {
    width: 300px;
}

.search1:hover input {
    width: 200px;
    margin-right: 10px;
}

/* login google */
.container {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 370px;
    height: 450px;
    padding: 40px 40px;
    background-color: white;
}

.login a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: 500;
}

.body img {
    width: 120px;
    height: 50px;
    margin: auto;
    display: block;
}

.body h4 {
    margin: auto;
    width: 150px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.body h4+p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 34px;
}

.body input {
    padding: 10px 15px;
    display: block;
    width: 300px;
    height: 30px;
    font-size: 20px;
    margin: auto;
    border: 1px solid #dadce0;
    border-radius: 10px;
}

.body input::placeholder {
   color: rebeccapurple;
}

/* .placehoder {
    position: relative;
}

.placehoder span {
    display: none;
    position: absolute;
    top: 30%;
    left: 10%;
    color: #979c9d;
    font-weight: 600;
    
} */

.body>a {
    display: block;
    margin: 5px 19px;
    font-size: 15px;
    font-weight: 400;
}

.body input:focus {
    border: 2px solid blue;
    outline: none;
}

.body .text {
    width: 350px;
    text-align: justify;
    margin: 42px 19px;
}

.footer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 19px;
}

.footer button {
    width: 100px;
    height: 38px;
    border: none;
    background-color: #1a73e8;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}