* {
    margin: 0;
    padding: 0;
}

.dark {
    background-color: #333;
    color: #fff;
}

nav {

    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: aqua;
}
nav li {
    display: block;
    padding: 10px 20px;
    background: pink;
    border-radius: 10px;
    text-transform: uppercase;
}
nav li a {
    text-decoration: none;
    font-weight: 600;
    color: brown;
}