.test3 {
    cursor: pointer;
}
.active {
    color: aqua;
    transition: 0.5s ease-in-out;
}
.container-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(60px,auto);
    grid-template-areas:
    "hd hd hd"
    "slb ct1 ct1"
    "slb ct2 ct2"
    "ft ft ft"
    ;
    column-gap: 10px;
    row-gap: 10px;
}
.item {
    background-color: yellow;
    border: 1px solid gray;
}
.item-1 {
    grid-area: hd;
}
.item-2 {
    grid-area: slb;
}
.item-3 {
    grid-area: ct1;
}
.item-4 {
    grid-area: ct2;
}
.item-5 {
    grid-area: ft;
}